In [1]:
%pwd
#present working directory

'C:\\Users\\Sharad\\Desktop\\Business Analytics\\python\\python files'

In [2]:
print('Welcome to python')

Welcome to python

# Variables in python

In [3]:
a = 'I love India'
print(a)

I love India

# Data Type

## Integer Data Type

In [4]:
a = 50
print(a)

50

In [5]:
type(a)

int

## Float Data Type

In [6]:
a = 4.87
print(a)

4.87

In [7]:
type(a)

float

## Boolean Data Type

In [8]:
a = True
print(a)

True

In [9]:
type(a)

bool

## String Data Type

In [10]:
a = 'Delhi'
print(a)
# Strings can be defined in single quotes, double quotes and triple quotes as well

Delhi

In [11]:
type(a)

str

In [12]:
a = "India"
print(a)
type(a)

India

str

In [13]:
a = 'This is data analytics'
b = 'I am using Jupyter Notebook'
print(a,b)

This is data analytics I am using Jupyter Notebook

In [14]:
c = 'and'
print(a,c,b)

This is data analytics and I am using Jupyter Notebook

In [15]:
print(a,"and",b)

This is data analytics and I am using Jupyter Notebook

In [16]:
print(a, b)

This is data analytics I am using Jupyter Notebook

In [17]:
print(a+'. '+b)

This is data analytics. I am using Jupyter Notebook

In [18]:
# "'ghfhhg'"
# Triple quotes are used to define strings of multiple lines

a = '''I am going to 
France tomorrow'''
print(a)

I am going to
France tomorrow

In [19]:
a = 'Sharad'
len(a)

6

In [20]:
a.upper()

'SHARAD'

In [21]:
a.lower()

'sharad'

In [22]:
a.title()

'Sharad'

In [23]:
a = 'my name is sharad'
b = 'i live in india'
c = 'i like pizza'
print(a.title())
print(b.upper())
print(c.lower())

My Name Is Sharad
I LIVE IN INDIA
i like pizza

## Complex Data Type

In [24]:
a = 3+ 4j
print(a)
type(a)

(3+4j)

complex