# 6 types of operators

## 1. Arithematic Operators

In [1]:
## Used to perform mathematical operations on the data
## +,-,%,/,*,**

In [2]:
# Define two integer variables
x = 25
y = 20
# Addition
result = x + y
print(result)

45

In [3]:
# Subtraction
result = x - y
print(result)

5

In [4]:
#Multiplication
result=x*y
print(result)

500

In [5]:
type(result)

int

In [6]:
# Division
result=x/y
print(result)

1.25

In [7]:
type(result)

float

In [8]:
# Modulus(%) - returns the remainder
result=x%y
print(result)

5

In [9]:
# Floor Division(//) - returns quotient
result=x//y
print(result)

1

In [10]:
2+4*3/6+5

9.0

In [11]:
# (**) - Raise to the power(Exponent)
2**3

8

In [12]:
2+4*3/6**2+5

7.333333333333334

In [13]:
## Operator Precedence

#Paranthesis()
#Power**
#Multiplication, Division,Modulus
#Addition,Substraction

In [14]:
2+4*3/6**2+5%4/2

2.8333333333333335

## Comparison Operators

In [15]:
# Used for conditional purpose
# Also known as relational operators
# <,>,==,!=,>=,<=
# Always return a boolean value - True/False

In [16]:
a = 25
b = 10

In [17]:
a>b

True

In [18]:
result= a>b
print(result)
type(result)

True

bool

In [19]:
result=a<b
print(result)

False

In [20]:
result= a==b
print(result)

False

In [21]:
result= a!=b
print(result)

True

## Assignment Operators

In [22]:
# Used to assign values to variables
# =,+=,-=,*=

In [23]:
a = 15
print(a)
a +=10
a

15

25

In [24]:
a=+30
print(a)

30

In [25]:
a-=10
print(a)

20

In [26]:
a = 2
print(a)

2

In [27]:
a*=3
a

6

In [28]:
a**=3
a

216

## Logical Operators

In [29]:
# Used to perform some operation, Based on two condition
#and, or(two operand)
#not(single operand)

In [30]:
a=5
b=6

In [31]:
a==5 and b>3

True

In [32]:
a ==5 and b<3

False

In [33]:
a>5 and b>4

False

In [34]:
a>5 or b>4

True

In [35]:
#Operand1       Operand 2
#True           Expression
#Expression     True
#'and' operator will always return 2nd operand
#'or' operator will always return 1st operand

In [36]:
a=5
b=6

In [37]:
a>2 and b

6

In [38]:
a and b>2

True

In [39]:
a>2 or b

True

In [40]:
b or a>2

6

In [41]:
#Operand1       Operand 2
#False           Expression
#Expression      False
#'and' operator will always return 'False'
#'or' operator will always return the 'Expression'

In [42]:
a=5
b=6

In [43]:
a<4 and b

False

In [44]:
b and a<4

False

In [45]:
a<4 or b

6

In [46]:
#Operand1       Operand 2
#Expression     Expression

#'and' operator will always return '2nd operand'
#'or' operator will always return the '1st operand'

In [47]:
a and b

6

In [48]:
b and a

5

In [49]:
a or b

5

In [50]:
b or a

6

In [51]:
# not operand will return opposite of True/False

In [52]:
not a<4

True

In [53]:
not b>4

False

In [54]:
not a

False

In [55]:
not b

False

## Membership Operators

In [56]:
# Used to check whether a particular value is included in a variable/data structures or not
#in, not in

In [57]:
a = (2,4,6,9)

In [58]:
4 in a

True

In [59]:
8 in a

False

In [60]:
5 not in a

True

In [61]:
6 not in a

False

In [62]:
a = 'delhi'
'e' in a

True

In [63]:
'p' in a

False

## Identity Operators

In [64]:
# Used to compare two objects(values, types, variables etc..)
# Returns boolean value - True/False
#is, is not

In [65]:
a =5
b =6

In [66]:
4 is a

False

In [67]:
4 is not a

True

In [68]:
a is b

False

In [69]:
a is not b

True

In [70]:
type(a) is type(b)

True