## Tuple Data Structure

In [1]:
# Created using paranthesis () and commas ,
# Tuples is immutable
# We cannot change the value inside a tuple nor we can delete or add any value in a tuple
# Tuples can handle multiple data types

In [2]:
a = ('Aman', 10,'Riya',20)
type(a)

tuple

In [3]:
print(a)

('Aman', 10, 'Riya', 20)

In [4]:
# Indexing - Used to access a particular value from the data structures
# From the left - indexing begins from 0
# From the right - indexing begins from -1
# Use [] brackets to access a particular value using indexing

## List Data Structure

In [5]:
# List is created using [] square brackets and commas,
# List are mutable i.e values can be modified or changed
# Add or delete values
# List can handle multiple data types
Students_Ba = ['Neha', 'Aman', 'Priya', 'Raj']

In [6]:
type(Students_Ba)

list

In [7]:
Students_Ba[0]

'Neha'

In [8]:
Students_Ba[-2]

'Priya'

In [9]:
Students_Ba[0] = 'Riya'

In [10]:
Students_Ba

['Riya', 'Aman', 'Priya', 'Raj']

In [11]:
Students_Ba[1] = 4.87
Students_Ba[3] = 5
Students_Ba

['Riya', 4.87, 'Priya', 5]

In [12]:
# Append function is used to add a value at the end
Students_Ba.append(90)
Students_Ba

['Riya', 4.87, 'Priya', 5, 90]

In [13]:
Students_Ba[-1] = 'Hritik'
Students_Ba

['Riya', 4.87, 'Priya', 5, 'Hritik']

In [14]:
# Insert method is used to add a value at a particular index
Students_Ba.insert(2,'Naina')
Students_Ba

['Riya', 4.87, 'Naina', 'Priya', 5, 'Hritik']

In [15]:
# Pop function is used to remove the last element
Students_Ba.pop()
Students_Ba

['Riya', 4.87, 'Naina', 'Priya', 5]

In [16]:
# Remove function can be used to remove a particular value
Students_Ba.remove('Naina')
Students_Ba

['Riya', 4.87, 'Priya', 5]

In [17]:
Students_Ba.insert(3,4.87)
Students_Ba

['Riya', 4.87, 'Priya', 4.87, 5]

In [18]:
Students_Ba.remove(4.87)
Students_Ba

['Riya', 'Priya', 4.87, 5]

In [19]:
# Reverse function is used to reverse the order of values
Students_Ba.reverse()
Students_Ba

[5, 4.87, 'Priya', 'Riya']

In [20]:
Data=[4,8,3,6,9,5]
Data.sort()
Data
# Sort function is used to sort the integers in increasing order

[3, 4, 5, 6, 8, 9]

In [21]:
Data.reverse()
Data

[9, 8, 6, 5, 4, 3]

In [22]:
Students= ['Aman', 'Raj', 'Priya', 'Neha']
Students

['Aman', 'Raj', 'Priya', 'Neha']

In [23]:
Students.sort()
Students

['Aman', 'Neha', 'Priya', 'Raj']

In [24]:
#Index function
Students.index('Priya')

2

In [25]:
Students.index('Neha')

1

In [26]:
# Nested List
l = [[1,2,3],['a','b','c','d'],[4.5,8.9,6.3]]
l

[[1, 2, 3], ['a', 'b', 'c', 'd'], [4.5, 8.9, 6.3]]

In [27]:
l[2][0]

4.5

In [28]:
l[1][2]

'c'

In [29]:
l[2][0] = 7
l

[[1, 2, 3], ['a', 'b', 'c', 'd'], [7, 8.9, 6.3]]

In [30]:
l[2].sort()
l

[[1, 2, 3], ['a', 'b', 'c', 'd'], [6.3, 7, 8.9]]

In [31]:
l[1].pop()
l

[[1, 2, 3], ['a', 'b', 'c'], [6.3, 7, 8.9]]

In [32]:
l[1].insert(1,'x')
l

[[1, 2, 3], ['a', 'x', 'b', 'c'], [6.3, 7, 8.9]]

In [33]:
# Slicing a list
# It is used to access a subset from the list
# Slicing is done using :
# Start Index : End Index
# Start index is included whereas end index is excluded

In [34]:
Students.append('Kunal')
Students.append('Hardik')
Students.append('Sharad')
Students.append('Sarita')
Students

['Aman', 'Neha', 'Priya', 'Raj', 'Kunal', 'Hardik', 'Sharad', 'Sarita']

In [35]:
Sliced=Students[1:3]
Sliced

['Neha', 'Priya']

In [36]:
Students[:] # It will return whole list
Students

['Aman', 'Neha', 'Priya', 'Raj', 'Kunal', 'Hardik', 'Sharad', 'Sarita']

In [37]:
Students[:3]

['Aman', 'Neha', 'Priya']

In [38]:
Students[2:]

['Priya', 'Raj', 'Kunal', 'Hardik', 'Sharad', 'Sarita']

In [39]:
Students[:2]

['Aman', 'Neha']

In [40]:
Students[6:]

['Sharad', 'Sarita']

In [41]:
Students[-2:]

['Sharad', 'Sarita']

In [42]:
Students[-3:-2]

['Hardik']

In [43]:
Students[-4:-2]

['Kunal', 'Hardik']

## Dictionary Data Structure

In [44]:
# It has key-value pairs
# Created using {},:
# Unlike tuple and lists it does'nt have pre defined index
# In dictionary, the user himself defines the indexes(keys)

# Keys- Name, Gender, Age
# Values- Aman, Male, 20

# Keys should be unique, we cant have two keys with the same name
# Keys and values can be of any data types
# Best practice is to define keys as strings

In [45]:
d={'Name':'Aman', 'Gender':'Male', 'Age':20}
type(d)

dict

In [46]:
d1={1:15.9, 'Name': 'Anshul', 2.4:'ABC', 'key4':4}

In [47]:
employee_info = {'Name':'Kunal', 'Age':25, 'Place':'Delhi', 'Salary':28.5, 'Id':8462}

In [48]:
employee_info['Place']

'Delhi'

In [49]:
employee_info

{'Name': 'Kunal', 'Age': 25, 'Place': 'Delhi', 'Salary': 28.5, 'Id': 8462}

In [50]:
# Remove a key-value pair
# del function
del employee_info['Salary']
employee_info

{'Name': 'Kunal', 'Age': 25, 'Place': 'Delhi', 'Id': 8462}

In [51]:
# clear function can be used to delete all items
employee_info.clear()
employee_info

{}

In [52]:
employee_info = {'Name':'Kunal', 'Age':25, 'Place':'Delhi', 'Salary':28.5, 'Id':8462}
employee_info

{'Name': 'Kunal', 'Age': 25, 'Place': 'Delhi', 'Salary': 28.5, 'Id': 8462}

In [53]:
type(employee_info)

dict

In [54]:
# add a key_value pair
employee_info['Dept']='Finance'
employee_info

{'Name': 'Kunal',
 'Age': 25,
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 8462,
 'Dept': 'Finance'}

In [55]:
employee_info['Age']= 28
employee_info

{'Name': 'Kunal',
 'Age': 28,
 'Place': 'Delhi',
 'Salary': 28.5,
 'Id': 8462,
 'Dept': 'Finance'}

In [56]:
employee_info['Place']='Lajpat,Delhi'
employee_info

{'Name': 'Kunal',
 'Age': 28,
 'Place': 'Lajpat,Delhi',
 'Salary': 28.5,
 'Id': 8462,
 'Dept': 'Finance'}

In [57]:
employee_info['Age']= [30,65,75]
employee_info

{'Name': 'Kunal',
 'Age': [30, 65, 75],
 'Place': 'Lajpat,Delhi',
 'Salary': 28.5,
 'Id': 8462,
 'Dept': 'Finance'}

In [58]:
employee_info['Age'][1]=80
employee_info

{'Name': 'Kunal',
 'Age': [30, 80, 75],
 'Place': 'Lajpat,Delhi',
 'Salary': 28.5,
 'Id': 8462,
 'Dept': 'Finance'}

In [59]:
employee_info.keys()
# keys function is used to get the names of all the keys

dict_keys(['Name', 'Age', 'Place', 'Salary', 'Id', 'Dept'])

In [60]:
employee_info.values()
# values() is used to get the name of all the values

dict_values(['Kunal', [30, 80, 75], 'Lajpat,Delhi', 28.5, 8462, 'Finance'])

In [61]:
l=list(employee_info.keys())
print(l)
type(l)

['Name', 'Age', 'Place', 'Salary', 'Id', 'Dept']

list

In [62]:
a=list(employee_info.values())
a

['Kunal', [30, 80, 75], 'Lajpat,Delhi', 28.5, 8462, 'Finance']

In [63]:
# items function
employee_info.items()

dict_items([('Name', 'Kunal'), ('Age', [30, 80, 75]), ('Place', 'Lajpat,Delhi'), ('Salary', 28.5), ('Id', 8462), ('Dept', 'Finance')])

In [64]:
len(employee_info)

6

In [65]:
emp= {'Name':['Aman','Prateek',], 'Education':{'Aman':'Graduate', 'Prateek':'PhD'}, 'Location':('Rohini','Lajpat')}
emp
# 3 key value pairs
# Name key- It holds a list inside it
# Education- It holds a dictionary inside it
# Location - It holds a tuple inside it

{'Name': ['Aman', 'Prateek'],
 'Education': {'Aman': 'Graduate', 'Prateek': 'PhD'},
 'Location': ('Rohini', 'Lajpat')}

In [66]:
emp['Name'][1]

'Prateek'

In [67]:
emp['Education']['Aman']

'Graduate'

## Sets Data structure

In [68]:
s={'Raj',100,5.6}
type(s)

set

In [69]:
s

{100, 5.6, 'Raj'}

In [70]:
s.add(80)
s

{100, 5.6, 80, 'Raj'}

In [71]:
s.pop()
s

{5.6, 80, 'Raj'}

In [72]:
s.remove('Raj')
s

{5.6, 80}