## If statement

In [1]:
# Print the larger value
a = 30
b = 25

if a>b:
    print('a')
else:
    print('b')

a

In [2]:
if a>b:
    print('a',a)
else:
    print('b',b)

a 30

In [3]:
# Which is a maximum value
a = 70
b = 6892
c = 688

if (a>b) and (a>c):
    print('a is the largest')
elif (b>a) and (b>c):
    print('b is thelargest')
else:
    print('C is the largest')

b is thelargest

In [4]:
# Give grades to the students on their marks
#60 -- A
#50 -- B
#40 -- C
#40 -- F

Marks = 32
if (Marks>60):
    print('A')
elif (Marks>50):
    print('B')
elif (Marks>40):
    print('C')
else:
    print ('F')

F

In [5]:
maths = 80
science = 50

# Maths    Science     Grade
# >70      >70         'A'
# >70      <70         'S'
# <70      >70         'M'
# <70      <70         'F'

if (maths>70) and (science>70):
    print('A')
elif (maths>70) and (science<70):
    print('S')
elif (maths<70) and (science>70):
    print('M')
else:
    print('F')

S

In [6]:
maths = 80
science = 50

# Maths    Science     Grade
# >70      >70         'A'
# >70      <70         'S'
# <70      >70         'M'
# <70      <70         'F'

if maths>70:
    if science>70:
        print('A')
    else:
        print('S')
else:
    if science>70:
        print('M')
    else:
        print('F')

S

In [7]:
# Check whether first element of the list is 10 or not
# If it is 10, then change it to 100; else change it to 50

a = [2,35,22,17,41]
if a[0]== 10:
    a[0]= 100
else: a[0]= 50

print(a)
type(a)

[50, 35, 22, 17, 41]

list

# While loop

It is used to execute a command until some conddition is true

In [8]:
count=1
while(count<=5):
    print('Sharad')
    count+=1

Sharad
Sharad
Sharad
Sharad
Sharad

In [9]:
# Print value of a until it is less than b
# also keep on incrementing the value of a by 2
a =5
b = 12
while(a<=b):
    print(a)
    a+=2

5
7
9
11

In [10]:
# Print the squares of numbers from 1 to 10
r=1
while(r<=10):
    print(r**2)
    r+=1

1
4
9
16
25
36
49
64
81
100

In [11]:
# Keep on printing values till the square of values is <=500
a = 1
import time
start_time =time.time()
while(a**2<500):
    print(a**2)
    a+=1
end_time =time.time()
print('Time taken:', end_time-start_time)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
Time taken: 0.00800466537475586

In [12]:
# Print the table of 7 using while loop
a = 1
while(a<=10):
    print(7,'*',a,'=',7*a)
    a+=1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [13]:
#Print alphabets of our name
a = 'SHARAD'
count = 0
while (count<len(a)):
    print(a[count])
    count+=1

S
H
A
R
A
D

In [14]:
a =1
count = 1

while(count<=1):
    print(a,' ')
    print(a,a+1)
    print(a,a+1,a+2)
    print(a,a+1,a+2,a+3)
    count+=1

1
1 2
1 2 3
1 2 3 4

# For loop

In [15]:
#Print alphabets of our name
a ='Sharad'
for p in a:
    print(p)

S
h
a
r
a
d

In [16]:
#list
# Using the for loop, print the first 3 elements of the list
sample_list=[10,20,30,40,50]
for i in sample_list[0:3]:
    print(i)

10
20
30

In [17]:
# Using the for loop, print the last 5 elements of the list
sample_list=[10,20,30,40,50,70,80,90]
for i in sample_list[-5:]:
    print(i)

40
50
70
80
90

In [18]:
# Using the for loop, print only those values which are greater than 30 in the list
sample_list=[10,20,30,40,50,70,25,30,90]
for i in sample_list:
    if (i>30):
        print (i)

40
50
70
90

In [19]:
a=[10,20,30,40,50,' ',60,70]
#Update the list 
#Replace 20 by 200
# and' ' by 'ABC'
index_num = 0
for i in a:
    if (i==20):
        a[index_num]=200
    elif (i==' '):
        a[index_num]='ABC'
    index_num += 1
print(a)

[10, 200, 30, 40, 50, 'ABC', 60, 70]

# Range function

In [20]:
# Only takes integer as an input
# Returns a list

In [21]:
range(5)

# Range(n) where n is an integer
# Return a list of values ranging from 0 to n-1

range(0, 5)

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
# range(a,b)
# a to b-1

for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [24]:
# Range(a,b,c)
# jump of size C

#Range(1,5,2)
#1
#3

for i in range(2,8,3):
    print(i)

2
5

In [25]:
# Print all the odd numbers between 7 to 24

for i in range(7,24,2):
    print(i)

7
9
11
13
15
17
19
21
23

In [26]:
# Find the sum of all the numbers divisible by 3 or 5
# lying between 0 to 20
result=0
for i in range(21):
    if i%3==0 or i%5==0:
        print(i)
        result=result + i
print(result)

0
3
5
6
9
10
12
15
18
20
98

In [27]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
 
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4

In [28]:
# 1
# 2 1
# 3 2 1
# 4 3 2 1

In [29]:
for i in range(1,5):  #Depends on number of rows we want
    for j in range(i,0,-1):   #Print individual elements within the row
        print(j, end=' ')
    print('')

1
2 1
3 2 1
4 3 2 1

## Break Statement

In [30]:
l=[10,20,30,40,50,60,70]
# Print only the first value of the list which is more than 30

In [31]:
for i in l:
    if(i>30):
        print(i)
        break

40

In [32]:
l1= [10,20,30,80,50,40,70]
# [Index and value of first element which is divisible by 40]
for i in l1:
    if(i%40 == 0):
        print('Value',i)
        break
l1.index(i)

Value 80

3

In [33]:
l1= [10,20,30,80,50,40,70]
Position = 1
# [Position and value of all element which is divisible by 40]
for i in l1:
    if(i%40 == 0):
        print('Position',Position)
        print('Value',i)
    Position += 1

Position 4
Value 80
Position 6
Value 40

In [34]:
l2=[10,20,35,40,55,87,60,89,80]
# Print first 2 elements divisible by 20
count = 0
for i in l2:
    if(i%20 == 0):
        print(i)
        count = count + 1
        if (count== 2):
            break

20
40

## Continue Statement

In [35]:
# if we want to print all numbersfroom 1 to 10
# except those numbers which are divisible by 4

for i in range(1,11):
    if(i%4==0):
        continue
    else:
        print(i)

1
2
3
5
6
7
9
10

In [36]:
# Print alphabets of your full name
#stop printing if e,i or u comes
#dont print alphabets a or o, if they come

name = 'sharad pahuja'
for i in name:
    if(i=='a' or i =='o'):
        continue
    elif(i =='e' or i =='i' or i == 'u'):
        break
    else:
        print(i)

s
h
r
d

p
h

In [37]:
# Print only first 3 numbers which are divisible by 'number'
number =89
i = 0
count = 0
while True:
    i =i + 1
    if(i%number ==0):
        print(i)
        count= count + 1
    if (count ==3):
        break

89
178
267